@import "./type/reset";
@import "./color";
@import "./layout/spacer";

@include type-reset;
@include default-type;

.blog {
  color: $grey-100;

  .header {
    color: $grey-10;
    background-color: $grey-90;
    display: flex;
    flex-direction: column;

    .headerText {
      .headerTitle {
        @include type-style(display-01, true);
        text-align: center;
        @media (max-width: $breakpoint-lg) {
          padding: 0 2rem;
        }

        @media (min-width: $breakpoint-lg) {
          padding: 0 6rem;
        }
      }

      .headerSubTitle {
        text-align: center;
        @media (max-width: $breakpoint-lg) {
          @include type-style(productive-heading-01, true);
          padding: 0 4rem;
        }

        @media (min-width: $breakpoint-lg) {
          @include type-style(productive-heading-03, true);
          padding: 0 16rem;
        }
      }

      .headerSlogan {
        text-align: center;

        @media (max-width: $breakpoint-lg) {
          @include type-style(productive-heading-04, true);
          padding: 0 4rem;
        }

        @media (min-width: $breakpoint-lg) {
          @include type-style(productive-heading-07, true);
          padding: 0 16rem;
        }
      }
      @include spacer(padding-bottom, 0.5);
      border-bottom: 2px solid $tile-40;

      .line {
        @media (max-width: $breakpoint-lg) {
          margin: 0 2rem;
        }

        @media (min-width: $breakpoint-lg) {
          margin: 0 8rem;
        }
      }
    }

    .headerLogo {
      @media (min-width: $breakpoint-lg) {
        position: absolute;
        top: 0;
      }

      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
      padding: 1rem 0;

      .headerIcon {
        height: 100%;
      }
    }

    .blogHeader {
      justify-content: space-between;
      margin-bottom: 0.5rem;
      z-index: 55;

      @media (max-width: $breakpoint-lg) {
        margin: 0 2rem;
        color: $grey-90;
        display: none;
      }

      @media (min-width: $breakpoint-lg) {
        margin: 0 8rem;
        display: flex;
      }

      .headerName {
        display: flex;
        align-items: center;
        padding: 1rem;
        transition: color 200ms ease-in-out;
        cursor: pointer;
        &:hover {
          color: $tile-30;
        }
      }

      .headerNavItems {
        li {
          padding: 1rem;
          transition: color 200ms ease-in-out;
          &:hover {
            color: $tile-30;
          }
        }
        cursor: pointer;
        display: flex;
        list-style: none;
        align-items: center;
      }
    }
  }

  .blogPost {
    .blogPostTitle {
      @include type-style(display-01, true);
    }

    .blogPostDate {
      @include type-style(code-02, true);
      @include spacer(margin-bottom, 2);
    }

    .blogPostBody {
      @include spacer(margin-top, 1);
      p {
        @include type-style(body-long-02, true);
      }

      h1 {
        @include type-style(productive-heading-07, true);
      }

      h2 {
        @include type-style(productive-heading-06, true);
      }

      h3 {
        @include type-style(productive-heading-05, true);
      }
      h4 {
        @include type-style(productive-heading-04, true);
      }
    }
  }

  .blogIndexCard {
    background-color: $grey-20;
    color: $grey_100;
    //  filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.5));
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $grey-30;
    }

    .blogIndexCardTitle {
      padding: 1rem;
      @include type-style(productive-heading-04, true);
      margin: 0;
    }

    .blogIndexCardBody {
      padding: 1rem;
      @include type-style(body-short-02, true);
    }

    .blogIndexCardImage {
      width: 100%;
    }

    .blogIndexCardDate {
      @include type-style(code-02, true);
      padding: 0 1rem;
    }

    .blogIndexCardButtons {
      text-align: end;
      margin: 1rem;

      .blogIndexCardIcon {
        height: 1.5rem;
        margin: 0 0.5rem;
      }
    }
  }
}
