.checkMyBlog {
  @include spacer(margin-top, 2);

  .checkMyBlogTitleFadeup-enter {
    opacity: 0;
    transform: scale(0.9);
    transform: translateX(-100px);
  }

  .checkMyBlogTitleFadeup-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
    transition-delay: 100ms;
  }

  .checkMyBlogTitleFadeup-exit {
    opacity: 1;
  }

  .checkMyBlogTitleFadeup-exit-active {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 300ms, transform 300ms;
  }

  .checkMyBlogCardFadeup-enter {
    opacity: 0;
  }

  .checkMyBlogCardFadeup-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  .checkMyBlogCardFadeup-exit {
    opacity: 1;
  }

  .checkMyBlogCardFadeup-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }

  .checkMyBlogTitle {
    @include type-style(display-01, true);
  }
  .blogCard {
    @include spacer(margin-top, 0.5);

    .blogCardBody {
      background-color: $grey-90;
      p {
        margin: 0;
      }
      display: flex;
      padding: 1rem !important;
      flex-direction: column;
      justify-content: space-around;
      .blogCardTitle {
        @include type-style(productive-heading-03, true);
      }
      .blogCardDate {
        @include type-style(code-01, true);
      }
      .blogCardText {
        @include type-style(body-short-01, true);
      }
      .blogIcon {
        color: $blue-50;
        transition: transform 100ms ease-in;
        transition: color 100ms ease-in;

        &:hover {
          color: $tile-30;
          transform: translateX(2px);
          cursor: pointer;
        }
      }
    }
  }
}
