$grey-10: #f4f4f4;
$grey-20: #e0e0e0;
$grey-30: #c6c6c6;
$grey-40: #a8a8a8;
$grey-50: #8d8d8d;
$grey-60: #6f6f6f;
$grey-70: #525252;
$grey-80: #393939;
$grey-90: #262626;
$grey-100: #161616;

$blue-10: #edf5ff;
$blue-20: #d0e2ff;
$blue-30: #a6c8ff;
$blue-40: #78a9ff;
$blue-50: #4589ff;
$blue-60: #0f62fe;
$blue-70: #0043ce;
$blue-80: #002d9c;
$blue-90: #001d6c;
$blue-100: #001141;

$tile-10: #d9fbfb;
$tile-20: #9ef0f0;
$tile-30: #3ddbd9;
$tile-40: #08bdba;
$tile-50: #009d9a;
$tile-60: #007d79;
$tile-70: #005d5d;
$tile-80: #004144;
$tile-90: #022b30;
$tile-100: #081a1c;
