.blackBackground {
  background-color: $grey-100;
  color: $grey-10;
  width: 100%;
  height: 100%;
  margin: 0;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.heroBanner {
  .heroBannerPreTitle {
    @include type-style(code-02, true);
    margin: 0;
  }
  .heroBannerTitle {
    @include type-style(expressive-heading-06, true);
    margin: 0;
  }

  .heroBannerSubTitle {
    @include type-style(expressive-heading-05, true);
    margin: 0;
  }

  .heroBannerBody {
    @include type-style(expressive-heading-03, true);
    margin: 0 auto;
  }
}
