.navBar {
  padding: 0;
  @include spacer(margin-left, 1);
  @include spacer(margin-right, 1);
  z-index: 10;
  @include spacer(margin-top, 0.5);
  @media (max-width: $breakpoint-lg) {
    display: flex;
    align-items: center;
    justify-content: center;

    .nav {
      display: none;
    }

    .navBarLogo {
      width: 54px;
      color: $blue-60;
    }
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
      display: flex;
      list-style: none;
      li {
        margin: 0 1em;
      }
    }

    .navBarLogo {
      height: 54px;
      color: $blue-60;
    }
  }
}
