.sideGadgetLeftFadeup-enter {
  opacity: 0;
}

.sideGadgetLeftFadeup-enter-active {
  opacity: 1;
  transition: opacity 600ms;
}

.sideGadgetLeftFadeup-exit {
  opacity: 1;
}

.sideGadgetLeftFadeup-exit-active {
  opacity: 0;
  transition: opacity 600ms;
}

.sideGadgetRigthFadeup-enter {
  opacity: 0;
}

.sideGadgetRigthFadeup-enter-active {
  opacity: 1;
  transition: opacity 600ms;
}

.sideGadgetRigthFadeup-exit {
  opacity: 1;
}

.sideGadgetRigthFadeup-exit-active {
  opacity: 0;
  transition: opacity 600ms;
}

.sideGadgetLeft {
  z-index: 20;
  @media (max-width: $breakpoint-lg) {
    display: none;
  }

  @media (min-width: $breakpoint-lg) {
    @include spacer(left, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;

    .sideGadgetLeftIcon {
      stroke: $blue-50;
      width: 1.5rem;
      margin: 1rem 0;
      transform: translateY(0);
      transition: transform 100ms ease-in;
      transition: stroke 100ms ease-in;

      &:hover {
        stroke: $tile-30;
        transform: translateY(-2px);
        cursor: pointer;
      }
    }

    .sideGadgetLeftLine {
      width: 1px;
      height: 6rem;
      background-color: $blue-50;
      margin-top: 1rem;
    }
  }
}

.sideGadgetRigth {
  z-index: 30;
  @media (max-width: $breakpoint-lg) {
    display: none;
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    @include spacer(right, 1);

    .sideGadgetRigthIcon {
      width: 2rem;
      margin: 1rem 0;
      color: $blue-50;
      border: 1px solid $blue-50;
      padding: 0.5rem;
      border-radius: 5px;
      transform: translateY(0);
      transition: transform 100ms ease-in;
      transition: color 100ms ease-in;
      transition: border 100ms ease-in;

      &:hover {
        color: $tile-30;
        transform: translateY(-2px);
        cursor: pointer;
        border: 1px solid $tile-30;
      }
    }

    .sideGadgetRigthMail {
      text-decoration: none;
      @include type-style(body-short-02, true);
      writing-mode: vertical-rl;
      text-orientation: sideways;
      color: $blue-50;

      &:hover {
        color: $tile-30;
        cursor: pointer;
      }
    }

    .sideGadgetRigthLine {
      width: 1px;
      height: 6rem;
      background-color: $blue-50;
      margin-top: 1rem;
    }
  }
}

.mobileGadgetBackdrop {
  @media (max-width: $breakpoint-lg) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    -filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba($grey-10, 0.6);
  }

  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

.mobileGadget {
  @media (max-width: $breakpoint-lg) {
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;

    .mobileGadgetIconFadeup-enter {
      opacity: 0;
      transform: translateY(5px);
      transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    }

    .mobileGadgetIconFadeup-enter-active {
      opacity: 1;
      transform: translateY(0px);
    }

    .mobileGadgetIconFadeup-enter-done {
      opacity: 1;
      transform: translateY(0px);
    }

    .mobileGadgetIconFadeup-exit {
      opacity: 1;
      transform: translateY(-5px);
      transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    }

    .mobileGadgetIconFadeup-exit-active {
      opacity: 0;
    }

    .mobileGadgetIcon {
      margin-bottom: 1rem;
      border-radius: 4px;
      color: $grey-10;
      align-items: center;
      filter: drop-shadow(1px 1px 4px $grey-60);
      display: flex;
      text-decoration: none;

      p {
        background-color: $grey-80;
        color: $grey-10;
        margin-right: 0.5rem;
        padding: 0.1rem;
        @include type-style(code-01, true);
      }

      .icon {
        background-color: $blue-60;
        padding: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .mobileGadgetButtonIcon {
      margin-bottom: 1rem;
      margin-top: 1rem;
      border-radius: 4px;
      color: $grey-10;
      display: flex;
      justify-content: space-between;
      filter: drop-shadow(1px 1px 4px $grey-60);

      .icon {
        background-color: $tile-40;
        padding: 0.5rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}
